.child_club_cards{
     padding-top: 140px;
    .bacground-wrapper{
        
        .container{
            
            .visit-line:hover .visit-border{
                                background-color: rgba(255, 0, 0, 0.15);
                                border: 0px;
                            }
            
            .title-block-wrapper{
    
            }
            .clubs-table-wrapper{
                overflow-x: auto;
                text-align: center;
                text-align: -webkit-center;
                
                table{
                
                tbody{
                    
                    tr{
                        
                        &:first-child{
                            color: white;
                        }
                        
                        &:first-child td:first-child{
                             padding: 15px 0px;
                            background: white;
                        }
                        
                        &:first-child td:nth-child(2){
                             padding: 0px;
                            color: white;
                        }
                        &:first-child td:nth-child(3){
                             padding: 0px;
                            color: white;
                        }
                        &:first-child td:nth-child(4){
                             padding: 0px;
                            color: white;
                        }
                        
                        &:first-child:hover td:nth-child(1){
                            background-color: white;
                        }
                        
                        &:hover td:nth-child(1) {
                                    background-color: rgba(255, 0, 0, 0.15);
                                    //border: 0px;
                                }
                        
                        &:hover td:nth-child(2) .for_border{
                                    background-color: rgba(255, 0, 0, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(3) .for_border{
                                    background-color: rgba(255, 0, 0, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(4) .for_border{
                                    background-color: rgba(255, 0, 0, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(5) .for_border{
                                    background-color: rgba(255, 0, 0, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(6) .for_border{
                                    background-color: rgba(160, 160, 160, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(7) .for_border{
                                    background-color: rgba(160, 160, 160, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(8) .for_border{
                                    background-color: rgba(160, 160, 160, 0.15);
                                    border: 0px;
                                }
                        &:hover .bottom-table-border{
                                    background-color: rgba(255, 0, 0, 0.15);
                                    border: 0px;
                                }
                            
                        
                        
                        
                        
                        td{
                            &:nth-child(1){
                                background-color: rgba(232, 232, 232, 0.8);  
                                padding: 15px;
                                text-transform: uppercase;
                                
                                img{
                                    vertical-align: middle;
                                    padding-right: 24px;
                                }
                                li{
                                    text-align: right;
                                    list-style: none;
                                    
                                 }
                                li:before {
                                    content: "•"; /* Insert content that looks like bullets */
                                    padding-right: 8px;
                                    font-size: 24px;
                                    color:#cf1520;
                                    opacity: 0.7;
                                }
                                
                                span{
                                    font-size: 9px;
                                }
                            
                            }
                            
                            
                                .for_Main{
                                border-radius: 10px;
                                border: 1px dashed #000000;
                                text-align: center;
                                padding: 24px;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 23px;
                                text-transform: uppercase;
                                    color: black;
                            }
                            
                            
                          .for_Comfort.first{
                                margin-left: 16px;
                            }
                            
                            .for_Comfort{
                                border-radius: 10px;
                                background-color: #ff000c;
                                width: 94px;
                                height: 70px;
                                text-align: center;
                                line-height: 65px;
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 69px;
                                text-transform: uppercase;
                                margin-left: 8px;
                                
                                
                                
                            }
                            
                            .for_Premium{
                                border-radius: 10px;
                                background-color: #696767;
                                width: 94px;
                                height: 70px;
                                text-align: center;                                
                                font-size: 22px;
                                font-weight: 500;                                  
                                text-transform: uppercase;
                                margin-left: 8px;
                                
                                
                                p{
                                    margin: 0px 0px;
                                    
                                    &:first-child{
                                        padding-top: 8px;
                                    }
                                }
                            }
                            
                            
                            
                            
                        }
                        
                        
                        
                        .visit-border-wrapper{
                                height: 127px;
                                position: relative;
                                padding-left: 15px;
                            
                              
                            }
                        
                        .visit-border{
                                height: 120px;
                                line-height: 33px;
                                padding: 10px 0px;
                                border: 1px dashed #4e4e4e;
                                border-radius: 10px;
                                width: 709px;
                                position: absolute;
                                top: 0px;
                                left: 17px;
                            
                           
                            
                            .visit-border-container{
                                text-align: center;
                                padding-top: 11px;
                                
                                .left-week{
                                    display: inline-block;
                                    margin-right: 20px;
                                }
                                .right-week{
                                    display: inline-block;
                                    margin-left: 20px;
                                }
                            }
                        }
                        
                        .bottom-table-border-wrapper{
                                height: 72px;
                                position: relative;
                                padding-left: 15px;
                            
                              
                            }
                        
                        .bottom-table-border{
                                height: 64px;
                                line-height: 12px;
                                padding: 10px 0px;
                                border: 2px dashed rgba(78, 78, 78, 0.5);
                                border-radius: 10px;
                                width: 709px;
                                position: absolute;
                                top: 0px;
                                left: 17px;
                                margin-top: 7px;
                           
                            
                        .bottom-table-border-container{
                                text-align: center;
                                
                                .left-week{
                                    display: inline-block;
                                    margin-right: 20px;
                                }
                                .right-week{
                                    display: inline-block;
                                    margin-left: 20px;
                                }
                            }
                        }
                        
                        .top-table{
                            border-radius: 5px 5px 0px 0px;
                        }
                        
                        .bottom-table{
                            border-radius: 0px 0px 5px 5px;
                        }
                       
                        
                        .for_border{
                            height: 50px;
                            border-radius: 10px;
                            border: 1px dashed #4e4e4e;
                            margin: 5px 5px;
                            text-align: center;
                            line-height: 47px;
                            margin-left: 16px;
                            margin-right: 0px;
                            
                            .with-star{
                                    width: 45px;
                                    padding-top: 6px;
                                }
                            
                            img{
                                padding-top: 9px;
                                width: 27px;
                                
                            }
                        }
                        
                        .for_border.visit-height{
                            height: 155px;
                            line-height: 33px;
                            padding: 10px 0px;
                            
                            .fa.fa-clock-o{
                                font-size: 20px;
                                padding-right: 10px;
                            }
                            
                            .day-visit{
                                font-weight: bold;
                            }
                        }
                        
                        
                        
                    }
                }
            }
            }
            .choose-from-child p{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                line-height: 7px;
                text-transform: uppercase;
            }
        }
    }
}



@media screen and (max-width: 992px){   
    
    .child_club_cards .for_Main{
        padding: 24px 0px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort {
        width: 75px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
        width: 75px;
    }
    
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
        width: 15px;
        padding: 15px 1px;
        text-align: center;
    }
    
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
        width: 570px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        width: 567px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) img{
        display: block;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 5px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) li{
        padding-right: 7px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
        font-size: 21px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        line-height: 0px;
        font-size: 21px;
    }
}

@media screen and (max-width: 728px){
    .child_club_cards .for_Main{
        padding: 24px 0px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort {
        width: 60px;
        font-size: 18px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
        width: 60px;
        font-size: 18px;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
        width: 15px;
        padding: 15px 1px;
        text-align: center;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
        width: 469px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        width: 469px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) img{
        display: block;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 5px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) li{
        padding-right: 7px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
        font-size: 21px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        line-height: 0px;
        font-size: 21px;
    }
}




@media screen and (max-width: 622px){
     .child_club_cards .for_Main{
        padding: 24px 0px;
        font-size: 19px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort {
        width: 50px;
        font-size: 15px;
        line-height: 69px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
        width: 50px;
        font-size: 15px;
        line-height: 26px;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
        width: 15px;
        padding: 15px 1px;
        text-align: center;
        font-size: 11px;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
        width: 418px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        width: 418px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) img{
        display: block;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 5px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) li{
        padding-right: 7px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
        font-size: 21px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        line-height: 0px;
        font-size: 21px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border .with-star{
        padding-left: 2px;
    }
}


@media screen and (max-width: 530px){
   .child_club_cards .for_Main{
        padding: 24px 0px;
        font-size: 19px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort {
        width: 40px;
        font-size: 12px;
        line-height: 69px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
        width: 40px;
        font-size: 12px;
        line-height: 26px;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
        width: 15px;
        padding: 15px 1px;
        text-align: center;
        font-size: 11px;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
        width: 330px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        width: 330px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) img{
        display: block;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 5px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) li{
        padding-right: 7px;
    }

    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
        font-size: 21px;
        margin-left: 6px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(2) .for_border{
        font-size: 21px;
        margin-left: 16px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
        line-height: 0px;
        font-size: 21px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border img{
        width: 21px;
        padding-top: 12px;
    }
    .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border .with-star{
        width: 35px;
        padding-top: 10px;
    }
    .choose-from-child{
        text-align: center;

    }
    .child_club_cards .bacground-wrapper .container .choose-from-child p{
        line-height: 13px;
    }
}
/****************/
/*    MEDIA 400PX*/
/****************/
    @media screen and (max-width: 442px){
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort.first{
                margin-left: 5px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(2) .for_border{
                margin-left: 5px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
            left: 6px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
            left: 6px;
            font-size: 16px;
            padding: 16px 0px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border img{
        width: 17px;
        padding-top: 11px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border .with-star{
        width: 30px;
        padding-top: 8px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(2) .for_border{
            font-size: 12px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
            height: 38px;
            font-size: 12px;
            line-height: 38px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Main{
            padding: 8px;
            font-size: 18px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:first-child{
            padding: 7px 0px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort{
            height: 40px;
            line-height: 42px;
            width: 30px;
            font-size: 9px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
            height: 40px;
            line-height: 13px;
            width: 30px;
            font-size: 9px;
        }
         .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
            width: 260px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
            width: 260px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
            padding: 5px 1px;
            font-size: 9px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border-wrapper{
            height: 61px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
                height: 57px;
                line-height: 15px;
                padding: 10px 0px;
                border: 1px dashed #4e4e4e;
                border-radius: 10px;
                position: absolute;
                top: 0px;
                font-size: 12px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border .visit-border-container{
            padding-top: 2px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) img{
            height: 30px;
        }
        .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) li:before{
            font-size: 15px;
        }

}

 @media screen and (max-width: 344px){
     .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
         margin-left: 1px;
     }
     .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort{
         margin-left: 1px;
     }
     .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
         margin-left: 1px;
     }
     .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .visit-border{
         width: 226px;
     }
     .child_club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .bottom-table-border{
         width: 226px;
     }
}


