/*#text .container2 .content-wrapper,*/
#club .container2 .content-wrapper {
	margin: 0 auto;
	.title-block-wrapper {
		.title-block {
			span {
				font-size: 24px;
				font-weight: 700;
				&:after {
					width: 40%;
					transition: all .3s;
				}
			}
		}
	}
	img {
		display: block;
		margin: 0 auto;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover .title-block-wrapper .title-block span:after {
		transition: all .3s;
		width: 100%;
	}
}
/*#text .bacground-wrapper,*/
#club .bacground-wrapper {
	img {
		width: 100%;
	}
}

#club {
	.club__text {
		margin: 75px 0;
		background-image: url("../img/бассейн2.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 100% 0;
		.content-wrapper {
			background: rgba(255,255,255,0.87);
            background: linear-gradient(to right, rgba(255,255,255,0.87) 0%, rgba(255,255,255,0.87) 48%, rgba(255,255,255,0.87) 65%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
			.content {
				padding-top: 100px;
				padding-bottom: 100px;
				padding-left: 100px;
				max-width: 60%;
				background-repeat: no-repeat;
				background-size: cover;
				font-weight: 400;
				font-size: 24px;
				line-height: 30px;
				h2 {
					text-transform: uppercase;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	#club {
		.club__text {
			.content-wrapper {
				.content {
					max-width: 80%;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	#club {
		.club__text {
			.content-wrapper {
				.content {
					padding: 40px;
				}
			}
		}
	}
}

@media screen and (max-width: 870px) {
	#club {
		.club__text {
			background-image: none;
			.content-wrapper {
				.content {
					max-width: 100%;
					padding: 20px 0;
				}
			}
		}
	}
}
