
    
    


.club_cards{
     padding-top: 140px;
    .bacground-wrapper{
        
        .container{
            
            
            .title-block-wrapper{
    
            }
            .clubs-table-wrapper{
                overflow-x: auto;
                
                table{
                
                tbody{
                    
                    tr{
                        
                        &:first-child td:first-child{
                             padding: 15px 0px;
                            background: white;
                        }
                        
                        &:first-child td:nth-child(2){
                             padding: 15px;
                            color: white;
                        }
                        &:first-child td:nth-child(3){
                             padding: 15px;
                            color: white;
                        }
                        &:first-child td:nth-child(4){
                             padding: 15px;
                            color: white;
                        }
                        
                        &:first-child:hover td:nth-child(1){
                            background-color: white;
                        }
                        
                        &:hover td:nth-child(1) {
                                    background-color: rgba(255, 0, 0, 0.15);
                                    //border: 0px;
                                }
                        
                        &:hover td:nth-child(2) .for_border{
                                    background-color: rgba(255, 0, 0, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(3) .for_border{
                                    background-color: rgba(160, 160, 160, 0.15);
                                    border: 0px;
                                }
                        &:hover td:nth-child(4) .for_border{
                                    background-color: rgba(0, 0, 0, 0.15);
                                    border: 0px;
                                }
                            
                        
                        
                        td{
                            &:nth-child(1){
                                background-color: rgba(232, 232, 232, 0.8);  
                                padding: 15px;
                                text-transform: uppercase;
                                
                                img{
                                    vertical-align: middle;
                                    padding-right: 24px;
                                }
                                li{
                                    text-align: right;
                                    list-style: none;
                                    
                                 }
                                li:before {
                                    content: "•"; /* Insert content that looks like bullets */
                                    padding-right: 8px;
                                    font-size: 24px;
                                    color:#cf1520;
                                    opacity: 0.7;
                                }
                            
                            }
                            
                            
                                .for_Main{
                                border-radius: 10px;
                                border: 1px dashed #000000;
                                text-align: center;
                                padding: 24px;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 23px;
                                text-transform: uppercase;
                            }
                            
                            
                            .for_Comfort{
                                border-radius: 10px;
                                background-color: #ff000c;
                                width: 210px;
                                height: 70px;
                                text-align: center;
                                line-height: 65px;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 69px;
                                text-transform: uppercase;
                                
                            }
                            .for_Premium{
                                border-radius: 10px;
                                background-color: #696767;
                                width: 210px;
                                height: 70px;
                                text-align: center;
                                line-height: 65px;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 69px;
                                text-transform: uppercase;
                            }
                            .for_Exclusive{
                                border-radius: 10px;
                                background-color: #000000;
                                width: 210px;
                                height: 70px;
                                text-align: center;
                                line-height: 65px;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 69px;
                                text-transform: uppercase;
                            }
    
                            
                        }
                        
                        .top-table{
                            border-radius: 5px 5px 0px 0px;
                        }
                        
                        .bottom-table{
                            border-radius: 0px 0px 5px 5px;
                        }
                       
                        
                        .for_border{
                            height: 50px;
                            border-radius: 10px;
                            border: 1px dashed #4e4e4e;
                            margin: 5px 15px;
                            text-align: center;
                            line-height: 47px;
                            
                            img{
                                padding-top: 9px;
                            }
                        }
                        
                        .for_border.visit-height{
                            height: 155px;
                            line-height: 33px;
                            padding: 10px 0px;
                            
                            .fa.fa-clock-o{
                                font-size: 20px;
                                padding-right: 10px;
                            }
                            
                            .day-visit{
                                font-weight: bold;
                            }
                        }
                        
                        
                        
                    }
                }
            }
            }
            .choose-from p{
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 1199px){   
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
        text-align: center;
        text-align: -webkit-center;
    }   
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1) img{
        display: block;
        padding-right: 0px;
        padding-bottom: 3px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table{
        margin-left: 16px;
    }
    
    .choose-from{
        padding-left: 16px;
    }
}
@media screen and (max-width: 991px){   
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Main{
        padding: 13px 0px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Main{
        padding: 25px 0px;
        font-size: 12px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
            padding: 15px 0px;
            font-size: 12px;
            
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort{
            width: 150px;
            font-size: 17px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
            width: 150px;
            font-size: 17px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Exclusive{
            width: 150px;
            font-size: 17px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            width: 150px;
            height: 155px;
            line-height: 23px;
            font-size: 17px;
            padding: 10px 0px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            line-height: 23px;
            font-size: 11px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height .fa.fa-clock-o{
            display: block;
            text-align: center;
            padding-right: 0px;
    }
}


@media screen and (max-width: 664px){
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Main{
        padding: 25px 0px;
        font-size: 12px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
            padding: 15px 0px;
            font-size: 12px;
            
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort{
            width: 100px;
            font-size: 11px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
            width: 100px;
            font-size: 11px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Exclusive{
            width: 100px;
            font-size: 11px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            width: 100px;
            height: 155px;
            line-height: 23px;
            font-size: 12px;
            padding: 10px 0px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            line-height: 23px;
            font-size: 11px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height .fa.fa-clock-o{
            display: block;
            text-align: center;
            padding-right: 0px;
    }
}


@media screen and (max-width: 500px){
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Main{
        padding: 25px 0px;
        font-size: 12px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
            padding: 15px 0px;
            font-size: 12px;
            
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort{
            width: 80px;
            font-size: 11px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
            width: 80px;
            font-size: 11px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Exclusive{
            width: 80px;
            font-size: 11px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            width: 80px;
            height: 155px;
            line-height: 23px;
            font-size: 12px;
            padding: 10px 0px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            line-height: 23px;
            font-size: 11px;
            margin: 5px 6px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height .fa.fa-clock-o{
            display: block;
            text-align: center;
            padding-right: 0px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:nth-child(2){
            padding: 15px 6px;
    }  
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:nth-child(3){
            padding: 15px 6px;    
    }    
      
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:nth-child(4){
            padding: 15px 6px;    
    }
}
/****************/    
/*    MEDIA 400PX*/
/****************/    
    @media screen and (max-width: 400px){
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Main{
            padding: 25px 0px;
            font-size: 12px;
            width: 99px;
    }
        
        
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td:nth-child(1){
           padding: 15px 0px;
            font-size: 10px;
            width: 54px;
            
    }
        
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:nth-child(2){
            padding: 15px 5px;
            padding-right: 0px;
    }    
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Comfort{
            width: 60px;
            font-size: 11px;
    }
    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:nth-child(3){
            padding: 15px 0px;    
    }    
        
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Premium{
            width: 60px;
            font-size: 11px;
            margin-left: 5px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr:first-child td:nth-child(4){
            padding: 15px 0px;    

    }    
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr td .for_Exclusive{
            width: 60px;
            font-size: 11px;
            margin-left: 5px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            width: 56px;
            height: 155px;
            padding: 10px 0px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height{
            line-height: 16px;
            font-size: 11px;     
            margin: 0;
            margin-left: 6px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border.visit-height .fa.fa-clock-o{
            display: block;
            text-align: center;
            padding-right: 0px;
    }
    .club_cards .bacground-wrapper .container .clubs-table-wrapper table tbody tr .for_border{
        margin: 5px 5px;
    }
}
















