// Contacts styles

.contacts {
	display: flex;
    justify-content: space-between;
    margin-top: 115px;
    .contacts-text-item 
    {
    	flex-grow: 0;
    	padding-right: 30px;
    	padding-left: 100px;
    	.wish-family-space {
    		h2 {
    			position: relative;
    			span{
    				z-index: 1;
    				position: relative;
    				background-color: #fff;
    				display: inline-block;
    			}
				&:before {
					content: "";
					position: absolute;
					width: 117px;
					height: 117px;
					border: 1px solid red;
					top: 50%;
					transform: translateY(-50%);
					left: -15px;
					z-index: 0;
				}
    		}
    	}
    	.address,
    	.contact {
			h2 {
				font-size: 24px;
			}
			p {
				font-size: 18px;
			}
    	}
    	.social-networks {
    		div {
    			display: inline-block;
    			width: 46px;
    			height: 46px;
    		}
    		.facebook {
				background-image: url(../img/icons/fb2.png);
				margin-right: 30px;
    		}
    		.instagram {
    			background-image: url(../img/icons/inst2.png);
    		}
    	}
    	div {
    		margin-bottom: 50px;
    	}
    }
    .contacts-map-item {
    	flex-grow: 1;
    	background-color: #a09d98;
    	.footer-map-wrapper {
    		height: 100%;
    		#contact-map {
				border-radius: 0;
				border: none;
				opacity: 0.6;
				height: 100%;
    		}
    	}
    }
}

.contacts + footer {
	margin-top: 0;
}

#common {
	padding-left: 0;
}