.dlya-chogo-kartka-page {
  background-size: cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background: url(../img/trenazherna-zala1.png) 50% 100% no-repeat;
}

.dlya-chogo-kartka-blocks-wrapper{
  margin: 20px auto 50px auto;
  .dlya-chogo-kartka-flex-row{
    display: flex;
    justify-content: space-around;
    .dlya-chogo-kartka-flex-col{
      max-width: 360px;
      .dlya-chogo-kartka-col-img{
        img{
          width: 100%;
        }
      }
      .dlya-chogo-kartka-col-content{
        .dlya-chogo-kartka-col-content-title {
          font-size: 24px;
          font-weight: 500;
          line-height: 26px;
          text-transform: uppercase;
        }
        .dlya-chogo-kartka-col-content-text{
          font-size: 18px;
          font-weight: 400;
          line-height: 20px;

        }
        .dlya-chogo-kartka-col-content-link{
          a{
            color: #363636;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 26px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.dlya-chogo-kartka-col-content-text{

}

.dlya-chogo-kartka-content-text{
  width: 54%;
  float: right;
  text-align: left;
  margin-top: 41px;
}

.dlya-chogo-kartka-content-text p{
  font-family: "MuseoSansRegular";
  font-weight: 300;
  width: 610px;
  height: 256px;
  box-shadow: 2px 6px 43px 2px rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
}

.dlya-chogo-kartka-col-img{
  width: 46%;
  float: left;
}

.what-are-you-waiting-for{
  width: 100%;
  height: 308px;
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background: url(../img/trenazerni3.png) 50% 100% no-repeat;
  position: relative;
    h1{
      text-transform: uppercase;
      width: 516px;
      height: 36px;
      color: #ffffff;
      font-family: "Museo Sans Cyrl";
      font-size: 48px;
      font-weight: 700;
      line-height: 24px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
      color: red;
    }
    button{
      width: 308px;
      height: 55px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #cf1520 0%, #e40254 100%);
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #ffffff;
        &:hover{
          opacity: 0.65;
        }
    }

  &::after{
    content: '';
    clear: both;
    display: table;
  }
}
