#main {
	padding-top: 115px;
}

#main .fitnes {
	background:  none;
}

#main .fitnes .content_fitnes {
	display: flex;
}

#main .fitnes .content_fitnes .first_group_fitnes {
}

#main .content_fitnes .first_group_fitnes .block {
	width: 380px;
	height: 465px;
	background-image: url(../img/1.png);
}