#header .relative{
	position: relative;
}

#main {
	// padding-top: 115px;
}

main .fitnes {
	background:  none;
}

main .content_fitnes {
	display: flex;
	margin: 50px 0;
}

main .content_fitnes .first_group_fitnes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

main .first_group_fitnes{
	width: 1400px;
	margin: auto;
}

main .first_group_fitnes{
	flex-wrap: wrap;
	margin-bottom: 40px;
	.block_item{
		width: 615px;
		height: 385px;
		overflow: hidden;
		margin-top: 30px;
		position: relative;
		.block_item_link{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 80px;
			background-color: rgba(255, 255, 255, 0.6);
			line-height: 80px;
			&:hover{
				height: 100%;
				a{
					position: absolute;
					top:0;
					left: 0;
					height: 100%;
					width: 100%;
					line-height: 100%;
					padding: 0;
					transition: all .2s;
					span{
						position: absolute;
						top: 50%;
						left: 50%;
						color: #fff;
						transform: translate(-50%, -50%);
						background-color: rgba(0,0,0,0.4);
						padding: 10px;
						transition: all .2s;
					}
					&::after, &::before{
						content: unset;
					}
				}
			}
			a{
				font-family: "MuseoSansRegular";
				font-size: 24px;
				font-weight: 300;
				text-transform: uppercase;
				padding: 0 20px;
				position: relative;
				display: block;
				transition: all .2s;
				&::after{
					content: '';
					display: block;
					position: absolute;
					left: 15px;
					bottom: 20px;
					width: 52px;
					height: 3px;
					background-image: linear-gradient(96deg, #cf1520 0%, #e40254 100%);
				}
				&::before{
					content: '▶';
					width: 30px;
					font-size: 30px;
					line-height: 30px;
					width: 40px;
					text-align: center;
					display: block;
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translate(0, -50%);
				}
			}
		}
		img{
			width: 100%;
		}
	}
}

main .first_group_fitnes .block_item:nth-child(1),
main .first_group_fitnes .block_item:nth-child(2),
main .first_group_fitnes .block_item:nth-child(3){
	width: 380px;
	position: relative;
}
