// Footer contacts styles

.footer-contacts-wrapper{
  text-align: center;
  .footer-contacts-wrapper-title{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    span{
      display: inline-block;
      padding-bottom: 3px;
      position: relative;
      &::after{
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 90px;
        height: 2px;
        display: block;
        background-image: linear-gradient(96deg, #cf1520 0%, #e40254 100%);
        content: '';
      }
    }
  }
  .footer-contacts-wrapper-content{
    padding: 20px 0 50px 0;
    .footer-contacts-text{
      display: inline-block;
      text-align: left;
      position: relative;
      background-color: #fff;
      padding: 10px 0;
      &::before{
        content: '';
        display: block;
        width: 117px;
        height: 117px;
        border: 1px solid #ff0040;
        position: absolute;
        left: -75px;
        top:50%;
        transform: translate(0, -50%);
        z-index: -1;
      }
      .footer-contacts-text-title{
        color: #050505;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
      .footer-contacts-text-number{
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
      }
    }
  }
}

//Footer map styles

.footer-map-wrapper{
  overflow: hidden;
  position: relative;
  height: 420px;
  #footer-map{
    overflow: hidden;
    width: 200%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2000px;
    border: 9px solid #525252;
    filter: grayscale(0.6);
  }
}

// footer grid

footer{
  margin-top: 35px;
  .flex-row-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .contact-open-button {
    display: none;
  }
  .flex-col{
    margin: 0;
    &.cont{
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    .flex-col-text,
    .flex-col-img{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .flex-col-text{
      padding-left: 30px;
      text-align: left;
      font-family: "MuseoSansRegular";
      font-size: 18px;
      font-weight: 500;
    }
  }
  .footer-contacts-wrapper{
    .flex-row-wrapper{
      justify-content: space-around;
    }
  }
}


// Footer bottom style
.footer-bottom{
  padding: 35px 0;
  color: #fff;
  background-image: linear-gradient(to right, #cf1520 0%, #e40254 100%);
  .footer-address{
    padding-left: 40px;
    background-image: url('../img/icons/location.png');
    background-repeat: no-repeat;
  }
  .footer-email{
    padding-left: 30px;
    background-image: url('../img/icons/mail.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
  .footer-numbers-wrapper{
    padding: 10px 0 10px 35px;
    background-image: url('../img/icons/phone.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
  .footer-social{
    text-align: center;
    .footer-link-icon{
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 5px;
      &.fb{
        background-image: url('../img/icons/fb.png');
      }
      &.vk{
        background-image: url('../img/icons/vk.png');
      }
      &.inst{
        background-image: url('../img/icons/inst.png');
      }
    }
  }
}

@media screen and (max-width: 780px) {
  footer {
    .footer-contacts-wrapper-content {
      .container {
        .flex-row-wrapper {
          flex-wrap: wrap;
          justify-content: flex-start;
        .flex-col {
          margin: 20px 20px;
        .flex-col-img {
            }
          }
        } 
      }
    }
    .footer-bottom {
      .container {
        .flex-row-wrapper {
          flex-wrap: wrap;
          justify-content: center;
          .flex-col {
            width: 100%;
            text-align:   center;
          }
          .contacts {
            width: 30%;
            padding: 20px 0;
            .footer-address,
            .footer-email,
            .footer-numbers-wrapper {
            background-position: 10% 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  footer {
    .footer-bottom {
      .container {
        .flex-row-wrapper {
          .contacts {
            display: none;
            width: 100%;
            font-size: 16px;
            position: relative;
            .footer-address,
            .footer-email,
            .footer-numbers-wrapper {
              background-image: none;
              padding: 0;
              &::after {
                content: "";
                width: 50%;
                height: 1px;
                display: block;
                background-color: rgba(255,255,255,0.5);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            .footer-numbers-wrapper {
              padding: 0px;
              padding-top: 10px;
               &::after {
                content: none;
               }
            }
          }
          .contact-open-button {
            display: block;
            margin: 0 auto;
            border: 2px solid #fff;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
          }
        }
      }
    }
    .footer-contacts-wrapper-content {
      .container {
        .flex-row-wrapper {
          flex-wrap: wrap;
          justify-content: flex-start;
        .flex-col {
        .flex-col-img {
            }
          }
        } 
      }
    }
    .line {
      width: 100%;
    }
  }
}