header{
	z-index: 9999;
}
header .main_nav,
header .secondary_nav {
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .main_nav .main_head,
header .secondary_nav .secondary_head {
	padding: 0;
	margin: 0;
	display: inline-flex;
	justify-content: space-around;
	width: 90%;
}

header .main_nav .main_head li,
header .secondary_nav .secondary_head li {
	list-style-type: none;
	position: relative;
}

header .main_nav .main_head li a,
header .secondary_nav .secondary_head li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: #000000;
	font-weight: 700;
}

header .main_nav .main_head li:not(.phone):not(.language):hover a,
header .main_nav .main_head li:not(.phone):not(.language):active a {
	color: #e40254;
	cursor: pointer;
}

header .secondary_nav .secondary_head li:not(.logo):not(.language):hover,
header .secondary_nav .secondary_head li:not(.logo):not(.language):active {
	cursor: pointer;
}

header .main_nav .main_head li .fa {
	content: "";
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	top: -5px;
	right: -20px;
	font-size: 25px;
}

header .main_nav .main_head li:hover .fa,
header .main_nav .main_head li:active .fa {
	color: #e40254;
	cursor: pointer;
}

header .main_nav .main_head li .fa-map-marker,
header .main_nav .main_head li .fa-phone {
	left: -20px;
	font-size: 15px;
	top: 0;
}

header .main_nav .main_head li .hidden {
	margin: 0;
	display: none;
	position: absolute;
	min-width: 100%;
	transition: all .2s;
	padding: 10px 0;
	flex-direction: column;
	align-items: flex-start;
	color: #fff;
	z-index: 20;
}

header .main_nav .main_head li .hidden2 {
	top: 40px;
}

header .main_nav .main_head .phone:hover .hidden,
header .main_nav .main_head .language:hover .hidden {
	transition: all .2s;
	display: block;
}

header .secondary_nav {
	height: 115px;
	justify-content: flex-start;
	background-color: #000000;
	opacity: 0.75;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 10;
}

header .secondary_nav .secondary_head {
	width: 95%;
	align-items: center;
}

header .secondary_nav .secondary_head li a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	position: relative;
	text-shadow: 1px 1px 9px #000;
	background-color: black;
  padding: 5px 0;
}

header .secondary_nav .secondary_head li:not(.logo):before {
	content: "";
	display: block;
	width: 97px;
	height: 63px;
	position: absolute;
	top: -150%;
	left: -70px;
	border: 3px solid #fff;
	opacity: 0.4;
}

header .secondary_nav .secondary_head li:not(.logo):hover:before,
header .secondary_nav .secondary_head li:not(.logo):active:before {
	opacity: 1;
}

header .main_nav .main_nav_sandwich {
	display: none;
}

@media screen and (max-width: 780px) {

	header .main_nav {
		display: block;
		height: auto;
		padding: 20px;
	}

	header .main_nav .main_nav_sandwich {
		display: block;
	}

	header .main_nav .main_head {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	header .main_nav .main_head,
	header .main_nav .main_nav_sandwich .fa-window-close {
		display: none;
	}
	header .main_nav .main_head li,
	header .secondary_nav .secondary_head li {
		padding-bottom: 10px;
	}
	header .main_nav .main_head li .hidden {
		margin: 0;
		display: none;
		position: static;
		min-width: 100%;
		transition: all .2s;
		padding: 0;
		padding-top: 10px;
		color: #000;
	}
	header .main_nav .main_head li .fa {
		content: "";
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		top: -5px;
		left: -180px;
		font-size: 25px;
	}
	header .main_nav .main_head li .fa-angle-down {
		left: 120px;
	}
	header .main_nav .main_nav_sandwich .fa-bars,
	header .main_nav .main_nav_sandwich .fa-window-close {
		margin-right: 0;
		font-size: 20px;
		position: absolute;
		top: 10px;
		left: 10px;
		&:hover {
			cursor: pointer;
			color: #e40254;
		}
	}
	header .secondary_nav .secondary_head {
		flex-wrap: wrap;
	}

	header .secondary_nav .secondary_head .logo  {
		width: 100%;
		text-align: center;
		height: 75px;
		margin: 10px 0;
	}

	header .secondary_nav .secondary_head li {
		&:hover a {
			color: #e40254;
		}
	}
	
	header .secondary_nav .secondary_head li:not(.logo):before {
		content: none;
	}
}