.number_lux{
    margin-top: 115px;
    
    .container2{
        
        .title-block-wrapper{
            
            .title-block{
                text-align: left;
            }
        }
        
        .order-form {

            .right{
                button {
                    width: 341px;
                }
            }
        }
    }
}