.number_lux{
    margin-top: 115px;
    
    .container2{
        
        .title-block-wrapper{
            
            .title-block{
                text-align: left;
            }
        }
        
        .order-form {
            
            .left{
                width: 40%;
            }
            
            .right{
                
                width: 60%;
                background-color: #f2ede8;
                
                
                button {
                    width: 341px;
                }
                .reservation {
                    display: inline-flex;
                    font-family: "MuseoSansRegular";
                    font-weight: 300;
                    justify-content: center;
                    background-color: transparent;
                    position: relative;
                    text-align: left;
                    z-index: 40;
                    
                    
                    input{
                        background-color: transparent;
                        border-radius: 0px;
                        margin-bottom: 0px;
                        width:auto;
                        outline: none;
                        border: none;
                        padding: 0px;
                        box-sizing: border-box;
                        transition: background-color .3s;
                    }
                    
                    select{
                        background-color: transparent;
                        border-radius: 0px;
                        margin-bottom: 0px;
                        width: auto;
                        outline: none;
                        border: none;
                        padding: 0px;
                        box-sizing: border-box;
                        transition: background-color .3s;
                    }
                    
                    .fa-calendar {
                        margin-left: 20px;
                    }
                    .fa-angle-down {
                        position: absolute;
                        right: 30px;
                        bottom: 45px;
                        font-size: 30px;
                    }
                    .title {
                        color: $greyColor;
                        text-transform: uppercase;
                        font-size: 14pt;
                        margin: 0;
                    }
                    .number {
                        font-size: 60pt;
                        // for input
                        border: none;
                        outline: none;
                        width: 93px;			
                    }
                    .month {
                        font-size: 14pt;
                        //for select
                        border: none;
                        outline: none;
                        appearance: none;
                    }
                    .arrival-date, .departure-date, .guests, .booking-button-block {
                        cursor: pointer;
                        position: relative;
                        padding: 30px;
                    }
                    .arrival-date, .departure-date {
                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            width: 1px;
                            background-color: $greyColor;
                            height: 80px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .booking-button-block {
                        cursor: default;
                        background-color: #dfdfdf;
                        display: flex;
                        align-items: center;
                        button {
                            font-size: 16pt;
                        }
                    }
	           }
            }
        }
    }
}