#main .nav_menu .nav_menu_wrapper {
	width: 90vw;
	margin: 0 auto;
}

#main .nav_menu {
	// height: 370px;
}

#main .menu {
	background:
  	url(../img/32.png) 0% 0% no-repeat,
  	url(../img/31.png)  0% 505% no-repeat;
  background-size: cover;
}

// #main .menu {
// 	background-size: cover;
// 	background-position: 0% 50%;
// 	background-repeat: no-repeat;
// }

#main .nav_menu .nav-menu-block-wrapper ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

#main .nav_menu .nav-menu-block-wrapper ul li {
	list-style-type: none;
	width: 215px;
	height: 190px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	box-sizing: border-box;
}

#main .nav_menu .nav-menu-block-wrapper ul li:hover,
#main .nav_menu .nav-menu-block-wrapper ul li:active {
	border: 1px solid #e40254;
	cursor: pointer;
}

#main .nav_menu .nav-menu-block-wrapper ul li .img {
	height: 120px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 10px;
}

#main .nav_menu .nav-menu-block-wrapper ul li a {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}

#main .content_menu {
	height: 495px;
	background-size: 70%;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	justify-content: flex-end;
	display: none;
}

#main .content_menu .content-menu-block-wrapper {
	margin-top: 5%;
	height: 350px;
	width: 45%;
	padding: 0 3%;
	display: flex;
	flex-direction: column;
	margin-right: 87px;
	box-sizing: border-box;
	justify-content: space-around;
	box-shadow: 4px 13px 20px 18px rgba(0, 0, 0, 0.33);
	background: rgba( 255, 255, 255, 0.85);
}

#main .content_menu .content-menu-block-wrapper .content-top-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#main .content_menu .content-menu-block-wrapper h2 {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0;
	text-align: right;
}

#main .restaurant_order {
	height: 685px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#main .restaurant_order .restaurant_order-block-wrapper .title-block-wrapper {
	width: 100%;
}

#main .restaurant_order .restaurant_order-block-wrapper .title-block-wrapper .title-block {
	padding: 0;
}

#main .restaurant_order .restaurant_order-block-wrapper {
	height: 500px;
	width: 25%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	padding-top: 190px;
	box-sizing: border-box;
	box-shadow: 4px 13px 45px rgba(0, 0, 0, 0.33);
}

#main .restaurant_order .restaurant_order-block-wrapper .title-block-wrapper .title-block span {
	font-weight: 400;
}

#main .restaurant_order .restaurant_order-block-wrapper .content-block-wrapper,
#main .content_menu .content-menu-block-wrapper .content-top-block {
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	padding: 0 25px;
}

#main .restaurant_order .order1 {
	background-image: url(../img/34.png)
}

#main .restaurant_order .order2 {
	background-image: url(../img/37.png)
}

.nav-menu-block-wrapper{
	margin-bottom: 25px;
}

.menu .active_li {
	border: 1px solid #e40254;
}

#main .content_menu.active {
	display: flex;
}
