#specific-number {
	.container2 {
		.title-block-wrapper {
			.main-title {
				text-align: left;
			}
		}
	}
	.content-wrapper {
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		padding-bottom: 50px;
		.container2	{
			display: flex;
			justify-content: space-between;
			.left {
				width: 70%;
				.service {
					display: flex;
					list-style-type: none;
					margin-top: 70px;
					.left {
						width: 50%;
					}
					.right {
						width: 50%;
					}
					li {
						position: relative;
						margin-bottom: 45px;
						&::before {
							content: "";
							display: block;
							width: 26px;
							height: 26px;
							background-image: url(../img/icons/checkbox.png);
							position: absolute;
							left: -40px;
						}
					}
					.kind {
						font-weight: 700;
					}
				}
			}
			.right {
				width: 30%;
				.reservation-wrapper {
					background-color: #ebe4dc;
					height: auto;
					margin: 60px 0 0 60px;
					padding: 220px 0 60px 0;
					position: relative;
					.price, .price2 {
						position: absolute;
						width: 220px;
						height: 110px;
						background-color: #292929;
						top: -30px;
						left: -30px;
						.price-wrapper {
							width: auto;
							height: auto;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
							span {
								color: #ffffff;
								font-family: "MuseoSansRegular";
								font-weight: 700;
								font-size: 18px;
							}
							.num {
								font-size: 48px;
							}
						}
					}
					.price2 {
						top: 81px;
					}
					.reservation {
						background-color: transparent;
						position: static;
						flex-wrap: wrap;
						box-shadow: none;
						justify-content: flex-start;
						.title {
							padding-bottom: 15px;
						}
						.number {
					    font-size: 34pt;
						}
						.departure-date, .arrival-date {
							&:after {
								content: none;
							}
						}
						.booking-button-block {
							color: #fff;
							background-color: transparent;
						}
						.dropdown {
							right: -20px;
							left: auto;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	#specific-number .content-wrapper .container2 {
		display: block;
	}

	#specific-number .content-wrapper .container2 .left {
		width: 100%;
	}

	#specific-number .content-wrapper .container2 .right {
		width: 100%;
	}
}

@media (max-width: 780px) {
	#specific-number .content-wrapper .container2 .left .service .left {
		width: 100%;
	}

	#specific-number .content-wrapper .container2 .left .service .right {
		width: 100%;
	}

	#specific-number .content-wrapper .container2 .left .service {
		display: block;
	}

	#text .multiple-slider-wrapper .multiple-items .multiple-slider-item, #specific-number .multiple-slider-wrapper .multiple-items .multiple-slider-item, #club .multiple-slider-wrapper .multiple-items .multiple-slider-item, #news .multiple-slider-wrapper .multiple-items .multiple-slider-item {
		min-width: 100%;
	}
}

@media (max-width: 560px) {
	#specific-number .content-wrapper .container2 .left p {
		text-align: left;
		font-size: 18px;
	}
}

@media (max-width: 420px) {
	.scale-slider-slide.active {
		transform: scale(1.8, 1.8);
	}

	.scale-slider .arrow-left, .scale-slider .arrow-right {
		transform: translateY(-50%) scale(0.5);
	}

	#specific-number .content-wrapper .container2 .right .reservation-wrapper {
		margin: 60px 0 0 25px;
	}
}