.text_inside {
	.text_inside_wrapper {
		.text_inside_wrapper_text {
			margin-bottom: 50px;
			.text_block {
				font-size: 16px;
			}
		}
		.text_inside_wrapper_gallery {
			.text_inside_wrapper_gallery_items {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.text_inside_wrapper_gallery_item {
					width: 30%;
					height: 250px;
					overflow: hidden;
					margin-bottom: 50px;
					transition: all .3s;
					&:hover {
						transform: scale(1.1, 1.1);
						transition: all .3s;
					}
					img {
						width: 100%;
					}
				}
			}
		}
	}
}