#menu-category {
	.menu-category {
		margin-top: 115px;
		.title-block-wrapper {
			.main-title {
				font-size: 36px;
				font-weight: 700;
			}
		}
		.kind-of {
				span {
					&::after {
						content: none; 
					}
				}
			}

		.stock-grid-wrapper {
			height: 30vh;
			justify-content: space-around;
			.stock-grid  {
				width: 47%;
				height: 45%;
				background-position: 50% 50%;
				transform: scale(0.9,0.9);
				&:hover {
					transform: scale(1.0,1.0);
					-webkit-box-shadow: 10px 10px 3px 0px rgba(249,130,138,1);
					-moz-box-shadow: 10px 10px 3px 0px rgba(249,130,138,1);
					box-shadow: 10px 10px 3px 0px rgba(249,130,138,1);
				}
				.stock-wrapper {
					.stock {
						margin-bottom: 0;
						font-size: 24px;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}
		}
		.stock-grid-wrapper-special {
			display: flex;
			justify-content: space-between;
			height: 50vh;
			.stock-grid  {
				width: 50%;
				height: 100%;
				transform: scale(1.0,1.0);
				&:hover {
					box-shadow: none;
				}
				.stock-wrapper {
					.stock {
						font-size: 30px;
					}
				.icon {
					width: 194px;
					height: 194px;
					background-repeat: no-repeat;
					margin: 0 auto;
					margin-bottom: 30px;
					}
				}
			}
		}
		.food {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			.left {
				width: 15%;
				display: flex;
				flex-direction: column;
				font-size: 18px;
				font-weight: 300;
				&>div {
					margin-bottom: 30px;
				}
				h6 {
					font-size: 18px;
					font-weight: 500;
					border-top: 1px solid #c9c9c9;
					border-bottom: 1px solid #c9c9c9;
					margin: 0;
					padding: 20px 0;
				}
				.inputs {
					.input {
						margin-top: 20px;
					}
				}
			}
			.right {
				width: 83%;
				.filter {
					font-size: 18px;
					font-weight: 500;
					display: flex;
					justify-content: space-between;
					border-top: 1px solid #c9c9c9;
					border-bottom: 1px solid #c9c9c9;
					padding: 20px 0;
					a {
						padding: 10px;
						&:hover {
							color: #fb002c;
							border: 1px solid #fb002c;
						}
					}
					.sort {
						i {
							color: #a2a2a2;
							padding: 10px 15px;
							border: 1px solid #a2a2a2;
							&:hover {
								color: #fb002c;
								border: 1px solid #fb002c;
							}
						}
					}
				}
				.content {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					.content-item {
						width: 30%;
						margin-top: 35px;
						img {
							width: 100%;
						}
						a {
							display: block;
							text-align: center;
						}
						.specifications {
							text-align: center;
						}
					}
				}
			}
		}
	}
}