body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
}
main {
  flex: 1 0 auto;
}
.container{
  max-width: 90%;
  margin: auto;
}
.container-fluid{
  width: 100%;
}
.container-fluid::after,
.container::after{
  display: table;
  content: '';
  clear: both;
}

//some kind of resets
a{
  color: inherit;
  text-decoration: unset;
}

// fonts

@font-face {
  font-family: "MuseoSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot") format("embedded-opentype"), url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}

@import "normalize";
@import "footer";
@import "header";
@import "glavnaya";
