@font-face {
  font-family: "MuseoSansRegular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansRegular";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansRegular";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.eot") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff"), url("../fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.woff") format("woff"), url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype"); }

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"); }

body {
  font-family: "MuseoSansRegular", sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding-left: 50px; }

.container {
  max-width: 90%;
  margin: auto; }

.container-fluid {
  width: 100%; }

.container-fluid::after,
.container::after {
  display: table;
  content: '';
  clear: both; }

a {
  color: inherit;
  text-decoration: unset; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

#header .secondary_nav.relative {
  position: relative;
  left: unset;
  top: unset; }

.title-block-wrapper .title-block {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300; }
  .title-block-wrapper .title-block span {
    display: inline-block;
    padding-bottom: 3px;
    position: relative; }
    .title-block-wrapper .title-block span::after {
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 90px;
      height: 2px;
      display: block;
      background-image: linear-gradient(96deg, #cf1520 0%, #e40254 100%);
      content: ''; }

.footer-contacts-wrapper {
  text-align: center; }
  .footer-contacts-wrapper .footer-contacts-wrapper-title {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300; }
    .footer-contacts-wrapper .footer-contacts-wrapper-title span {
      display: inline-block;
      padding-bottom: 3px;
      position: relative; }
      .footer-contacts-wrapper .footer-contacts-wrapper-title span::after {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 90px;
        height: 2px;
        display: block;
        background-image: linear-gradient(96deg, #cf1520 0%, #e40254 100%);
        content: ''; }
  .footer-contacts-wrapper .footer-contacts-wrapper-content {
    padding: 20px 0 50px 0; }
    .footer-contacts-wrapper .footer-contacts-wrapper-content .footer-contacts-text {
      display: inline-block;
      text-align: left;
      position: relative;
      background-color: #fff;
      padding: 10px 0; }
      .footer-contacts-wrapper .footer-contacts-wrapper-content .footer-contacts-text::before {
        content: '';
        display: block;
        width: 117px;
        height: 117px;
        border: 1px solid #ff0040;
        position: absolute;
        left: -75px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        z-index: -1; }
      .footer-contacts-wrapper .footer-contacts-wrapper-content .footer-contacts-text .footer-contacts-text-title {
        color: #050505;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; }
      .footer-contacts-wrapper .footer-contacts-wrapper-content .footer-contacts-text .footer-contacts-text-number {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px; }

.footer-map-wrapper {
  overflow: hidden;
  position: relative;
  height: 420px; }
  .footer-map-wrapper #footer-map {
    overflow: hidden;
    width: 200%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2000px;
    border: 9px solid #525252;
    -webkit-filter: grayscale(0.6);
            filter: grayscale(0.6); }

footer {
  margin-top: 35px; }
  footer .flex-row-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .flex-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .flex-col.cont {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    footer .flex-col .flex-col-text,
    footer .flex-col .flex-col-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    footer .flex-col .flex-col-text {
      padding-left: 30px;
      text-align: left;
      font-family: "MuseoSansRegular";
      font-size: 18px;
      font-weight: 500; }
  footer .footer-contacts-wrapper .flex-row-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.footer-bottom {
  padding: 35px 0;
  color: #fff;
  background-image: linear-gradient(to right, #cf1520 0%, #e40254 100%); }
  .footer-bottom .footer-address {
    padding-left: 40px;
    background-image: url("../img/icons/location.png");
    background-repeat: no-repeat; }
  .footer-bottom .footer-email {
    padding-left: 30px;
    background-image: url("../img/icons/mail.png");
    background-repeat: no-repeat;
    background-position: left center; }
  .footer-bottom .footer-numbers-wrapper {
    padding-left: 35px;
    background-image: url("../img/icons/phone.png");
    background-repeat: no-repeat;
    background-position: left center; }
  .footer-bottom .footer-social {
    text-align: center; }
    .footer-bottom .footer-social .footer-link-icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 5px; }
      .footer-bottom .footer-social .footer-link-icon.fb {
        background-image: url("../img/icons/fb.png"); }
      .footer-bottom .footer-social .footer-link-icon.vk {
        background-image: url("../img/icons/vk.png"); }
      .footer-bottom .footer-social .footer-link-icon.inst {
        background-image: url("../img/icons/inst.png"); }

header {
  z-index: 9999; }

header .main_nav,
header .secondary_nav {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header .main_nav .main_head,
header .secondary_nav .secondary_head {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%; }

header .main_nav .main_head li,
header .secondary_nav .secondary_head li {
  list-style-type: none;
  position: relative; }

header .main_nav .main_head li a,
header .secondary_nav .secondary_head li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #000000;
  font-weight: 700; }

header .main_nav .main_head li:not(.phone):not(.language):hover a,
header .main_nav .main_head li:not(.phone):not(.language):active a {
  color: #e40254;
  cursor: pointer; }

header .secondary_nav .secondary_head li:not(.logo):not(.language):hover a,
header .secondary_nav .secondary_head li:not(.logo):not(.language):active a {
  cursor: pointer; }

header .main_nav .main_head li .fa {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  right: -20px;
  font-size: 25px; }

header .main_nav .main_head li:hover .fa,
header .main_nav .main_head li:active .fa {
  color: #e40254;
  cursor: pointer; }

header .main_nav .main_head li .fa-map-marker,
header .main_nav .main_head li .fa-phone {
  left: -20px;
  font-size: 15px;
  top: 0; }

header .main_nav .main_head li .hidden {
  margin: 0;
  opacity: 0;
  position: absolute;
  min-width: 100%;
  transition: all .2s;
  padding: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  z-index: 20; }

header .main_nav .main_head li .hidden2 {
  top: 40px; }

header .main_nav .main_head .phone:hover .hidden,
header .main_nav .main_head .language:hover .hidden {
  opacity: 1;
  transition: all .2s; }

header .secondary_nav {
  height: 115px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #000000;
  opacity: 0.75;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 10; }

header .secondary_nav .secondary_head {
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header .secondary_nav .secondary_head li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  position: relative; }

header .secondary_nav .secondary_head li:not(.logo):before {
  content: "";
  display: block;
  width: 97px;
  height: 63px;
  position: absolute;
  top: -150%;
  left: -70px;
  border: 3px solid #fff;
  opacity: 0.4; }

header .secondary_nav .secondary_head li:not(.logo):hover:before,
header .secondary_nav .secondary_head li:not(.logo):active:before {
  opacity: 1; }

main .top-slider-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative; }

main .top-slider-wrapper .top-slider .top-slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

main .top-slider-wrapper .top-slider {
  position: relative; }

main .top-slider-wrapper .top-slider .slick-dots {
  position: absolute;
  z-index: 30;
  bottom: 30px; }

main .top-slider-wrapper .top-slider .slick-dots li button:before {
  color: #ffffff;
  font-size: 20px; }

main .top-slider-wrapper .paranja {
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

main .top-slider-wrapper .top-slider .top-slider-item .text-item {
  position: absolute;
  z-index: 25;
  color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 500px; }

main .top-slider-wrapper .top-slider .top-slider-item .text-item h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 29px; }

main .top-slider-wrapper .top-slider .top-slider-item .text-item p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 100;
  margin: 0; }

main .top-slider-wrapper .top-slider .top-slider-item .text-item-left {
  left: 225px; }

main .top-slider-wrapper .top-slider .top-slider-item .text-item-right {
  right: 225px; }

.fitness-blocks-wrapper {
  width: 1420px;
  margin: 20px auto 50px auto; }
  .fitness-blocks-wrapper .fitness-flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .fitness-blocks-wrapper .fitness-flex-row .fitness-flex-col {
      max-width: 360px; }
      .fitness-blocks-wrapper .fitness-flex-row .fitness-flex-col .fitness-col-img img {
        width: 100%; }
      .fitness-blocks-wrapper .fitness-flex-row .fitness-flex-col .fitness-col-content .fintess-col-content-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase; }
      .fitness-blocks-wrapper .fitness-flex-row .fitness-flex-col .fitness-col-content .fintess-col-content-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px; }
      .fitness-blocks-wrapper .fitness-flex-row .fitness-flex-col .fitness-col-content .fitness-col-content-link a {
        color: #363636;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 26px;
        text-decoration: underline; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

#panel-toggle {
  display: block;
  position: absolute;
  z-index: 100;
  top: 50%;
  right: -34px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: cornflowerblue;
  width: 70px;
  height: 69px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

#panel-toggle .bar {
  display: block;
  width: 29px;
  margin-bottom: 7px;
  transition: left .4s; }

#panel nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

#panel nav ul li {
  display: block;
  line-height: 3em; }

#panel nav ul li a {
  margin-left: 20px;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }

#panel nav ul li a:after {
  content: ' ';
  height: 1px;
  width: 0;
  left: 0;
  background: #fff;
  position: absolute;
  bottom: -1px;
  transition: width 0.2s; }

#panel nav ul li a:hover:after {
  width: 100%; }

/* icon common */
#nav-icon {
  width: 37px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.5s eash-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #4c4c4c;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out; }

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 14px; }

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 24px; }

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 34px; }

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(2), #nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 20px; }

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 20px; }

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

#panel-toggle:hover .bar {
  background-color: #3498db; }

/* Side panel */
#panel {
  position: fixed;
  left: -240px;
  width: 290px;
  height: 100%;
  background: #000;
  box-sizing: border-box;
  transition: background, left .4s;
  z-index: 9998; }

#panel.open {
  left: 0;
  transition: background, left .4s; }

#panel nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

#panel nav ul li {
  display: block;
  line-height: 3em; }

#panel nav ul li a {
  margin-left: 20px;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }

#panel nav ul li a:after {
  content: ' ';
  height: 1px;
  width: 0;
  left: 0;
  background: #fff;
  position: absolute;
  bottom: -1px;
  transition: width 0.2s; }

#panel nav ul li a:hover:after {
  width: 100%; }

/* icon common */
#nav-icon {
  width: 37px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.5s eash-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #4c4c4c;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out; }

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 14px; }

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 24px; }

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 34px; }

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(2), #nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 20px; }

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 20px; }

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

.bar-wrapper {
  position: relative;
  margin-left: 0px;
  margin-top: 11px; }

.main-benefits-wrapper {
  padding: 150px 0;
  background-image: url("../img/main/back-main-ben.png");
  background-size: cover;
  background-position: center bottom; }
  .main-benefits-wrapper .main-benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .main-benefits-wrapper .main-benefits-list .main-benefits-list-item {
      width: 335px;
      height: 335px;
      border-radius: 50%;
      text-align: center;
      box-shadow: 4px 13px 45px rgba(0, 0, 0, 0.33);
      position: relative;
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      transition: all .2s; }
      .main-benefits-wrapper .main-benefits-list .main-benefits-list-item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        transition: all .2s; }
      .main-benefits-wrapper .main-benefits-list .main-benefits-list-item .main-benefits-list-img {
        display: inline-block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, 65%);
                transform: translate(-50%, 65%); }
      .main-benefits-wrapper .main-benefits-list .main-benefits-list-item .main-benefits-list-content {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50%; }
        .main-benefits-wrapper .main-benefits-list .main-benefits-list-item .main-benefits-list-content .main-benefits-list-title {
          text-transform: uppercase;
          font-family: "MuseoSansRegular";
          font-size: 24px;
          font-weight: 500;
          line-height: 24px;
          margin-top: 15px; }
        .main-benefits-wrapper .main-benefits-list .main-benefits-list-item .main-benefits-list-content .main-benefits-list-content-text {
          font-family: RalewayRegular;
          font-size: 20px;
          font-weight: 300;
          line-height: 26px; }
          .main-benefits-wrapper .main-benefits-list .main-benefits-list-item .main-benefits-list-content .main-benefits-list-content-text p {
            padding: 20px;
            margin: 0; }

#portfolio .slider-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 720px; }

#portfolio .slider-bottom .left-nav, #portfolio .slider-bottom .right-nav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#portfolio .slider-bottom .img-nav {
  height: 25%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative; }

#portfolio .slider-bottom .img-nav:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: .5s;
  cursor: pointer; }

#portfolio .slider-bottom .img-nav.active-nav:after {
  opacity: 0; }

#portfolio .slider-bottom .img-nav img {
  width: 100%;
  height: 100%; }

#portfolio .slider-bottom .block {
  position: relative; }

#portfolio .slider-bottom .block img {
  width: 100%;
  height: 100%; }

#portfolio .slider-bottom .block .controls {
  height: 0; }

#portfolio .slider-bottom .block .left, #portfolio .slider-bottom .block .right {
  position: absolute;
  right: 0;
  top: 350px;
  z-index: 2;
  background-image: url(../img/icons.png);
  background-position: -192px -55px;
  width: 39px;
  height: 68px;
  cursor: pointer;
  margin: 0 8px;
  opacity: .5;
  transition: .5s; }

#portfolio .slider-bottom .block .left:hover, #portfolio .slider-bottom .block .right:hover {
  opacity: 1; }

#portfolio .slider-bottom .block .left {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

#portfolio .slide-bottom-item {
  height: 0; }
  #portfolio .slide-bottom-item.active {
    height: auto; }
    #portfolio .slide-bottom-item.active img {
      width: 100%;
      height: 100%; }
